# --- Jekyll build output ---
docs/_site/

# Jekyll caches / metadata (generated locally)
docs/.jekyll-cache/
docs/.jekyll-metadata
docs/.sass-cache/

# --- Bundler (local env artifacts) ---
docs/.bundle/
docs/vendor/bundle/

# --- OS / editor ---
.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/

# other
docs/Gemfile.lock